# Twilio
MESSAGING_PROVIDER=twilio
MESSAGING_API_KEY=ACxxxx
MESSAGING_API_SECRET=your_auth_token
MESSAGING_FROM=+15550000000

OPENAI_API_KEY=xxxxxxx

database_url=postgresql://user:pass@localhost/testdb

# # SendGrid (email)
# MESSAGING_PROVIDER=sendgrid
# MESSAGING_API_KEY=SG.xxxx
# MESSAGING_API_SECRET=       # not needed for SendGrid, leave empty
# MESSAGING_FROM=sender@yourdomain.com

# # Mailgun
# MESSAGING_PROVIDER=mailgun
# MESSAGING_API_KEY=key-xxxx
# MESSAGING_API_SECRET=your_domain
# MESSAGING_FROM=sender@mg.yourdomain.com
# OpenAI
